<div class="home_bg">
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center home_header">
            <h5 class="my-0 mr-md-auto"><img src="assets/img/vfox_logo.png" alt="VFOX"/></h5>
            <a class="btn btn-outline-primary btn-outline-white" href="#">Sign In</a>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="home_heading">Preservation and<br/> Enhancement of Wealth</div>
                <div class="clearfix"></div>
                <p class="home_txt">Lorem ipsum dolor sit amet, consectetur adipscing elit,<br/>
                    sed do eiusmod tempor incididunt ut labore et dolore<br/> magna aliqua.
                </p>
                <div class="clearfix"></div>
                <p class="home_video"><img src="assets/img/video_placholder.png" alt="Video"/></p>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body reg_form">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                   required autofocus>
                            <label for="inputEmail">Email</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                   required>
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="inputPassword2" class="form-control" placeholder="Password"
                                   required>
                            <label for="inputPassword2">Password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>