@import 'node_modules/ngx-toastr/toastr';
// /* You can add global styles to this file, and also import other style files */
// @import 'node_modules/ngx-smart-modal/ngx-smart-modal';

body {font-family: 'Quicksand', sans-serif; color:#fff;}
.home_bg{background:#c03aa5 url(../assets/img/home_bg.jpg) no-repeat; background-size:cover; height:100vh;}
.btn-outline-white{border:solid 1px #fff; border-radius:0px; color:#ffffff; font-size:14px; font-weight:400; padding-left:20px; padding-right:20px; margin-top:51px; letter-spacing:1px;}
.btn-outline-white:hover, .btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled).active, .show > .btn-outline-white.dropdown-toggle{background:#ce37a8; border-color:#fff;}
.btn-outline-white:focus, .btn-outline-white.focus{box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.2)!important;}
.home_header img{margin:17px 0 64px 0;}
.home_heading{font-size:40px; font-weight:500;}
.home_txt{font-size:20px; font-weight:400;}
.home_video{margin-top:33px;}
.card{border-color:#fff; border-radius:0.50rem;}
:root {--input-padding-x: .75rem; --input-padding-y: .75rem;}
.form-label-group {position: relative; margin-bottom: 1rem;}
.form-label-group > input, .form-label-group > label {padding: var(--input-padding-y) var(--input-padding-x);}
.form-label-group > label {position: absolute; top: 0; left: 0; display: block; width: 100%; margin-bottom: 0; /* Override default `<label>` margin */
line-height: 1.5; color: #495057; border: 1px solid transparent; border-radius: .25rem; transition: all .1s ease-in-out;}
.form-label-group input::-webkit-input-placeholder {color: transparent;}
.form-label-group input:-ms-input-placeholder {color: transparent;}
.form-label-group input::-ms-input-placeholder {color: transparent;}
.form-label-group input::-moz-placeholder {color: transparent;}
.form-label-group input::placeholder {color: transparent;}
.form-label-group input:not(:placeholder-shown) {padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3)); padding-bottom: calc(var(--input-padding-y) / 3);}
.form-label-group input:not(:placeholder-shown) ~ label {padding-top: calc(var(--input-padding-y) / 3); padding-bottom: calc(var(--input-padding-y) / 3); font-size: 12px; color: #777;}
.form-control{border-bottom:solid 1px #979797; border-radius:0px; border-left:solid 1px #fff; border-right:solid 1px #fff; border-top:solid 1px #fff; font-size:12px!important; color:#535353!important; font-weight:500!important;}
.form-control:focus{box-shadow:0 0 0 0.2rem rgba(206, 55, 168, 0.2);}