<div class="container">
    <!--Home Header Starts here-->
    <div class="d-flex flex-column flex-md-row align-items-center home_header">
        <h5 class="my-0 mr-md-auto"><img src="assets/img/vfox_logo.png" alt="VFOX"/></h5>
    </div>
    <!--Home Header Ends here-->
    <div class="row">
        <!--Home Left Container Starts here-->
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
        <!--Home Right Container Ends here-->
    </div>
</div>
<!--Home Footer Starts here-->
<div class="home_footer"></div>
<!--Home Footer Ends here-->



