<div class="app align-items-center mb-5">
    <div class="container">
        <h2 class="page_heading">Service Center</h2>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10">
                <div class="page_container">
                    <div class="inside_page_container pb-0">
                        <div class="basic-form">

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>
                                        <strong>Date</strong>
                                    </label>
                                    <div class="input-group">


                                        <input type="date" class="form-control" placeholder="DD/MM/YY" type="date"/>


                                        <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group col-md-4">
                                    <label>
                                        <strong>Civil ID</strong>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Please enter Civil Id">

                                </div>


                                <div class="col-md-4">
                                    <div class="text-center mt-4 mb-2">
                                        <button type="button" class="cancelbtn">Reset</button>

                                        <button class="submitbtn" type="submit">Search</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <hr class="mb-0 mt-1"/>
                    <div class="clearfix"></div>

                    <div>

                        <div class="inside_page_container">


                            <div class="table-responsive">
                                <table class="table table_list">
                                    <thead>
                                    <tr>
                                        <th class="text-center"><input type="checkbox"/></th>
                                        <th>Civil ID</th>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Price</th>
                                        <th>Photo</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center"><input type="checkbox"/></td>
                                        <td>269020501000</td>
                                        <td>Aman</td>
                                        <td>101.000KD</td>
                                        <td>1 Year</td>
                                        <td class="text-center"><img class="table-img-set" src="assets/img/HQwHI.jpg"
                                                                     style="width:50px;"/></td>
                                        <td>9810413846</td>
                                        <td>xyz@gmail.com</td>
                                        <td><a href="#" title="Update Details"><i
                                                class="fa fa-check-square-o fa-lg"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><input type="checkbox"/></td>
                                        <td>269020501000</td>
                                        <td>Aman</td>
                                        <td>101.000KD</td>
                                        <td>1 Year</td>
                                        <td class="text-center"><img class="table-img-set" src="assets/img/HQwHI.jpg"
                                                                     style="width:50px;"/></td>
                                        <td>9810413846</td>
                                        <td>xyz@gmail.com</td>
                                        <td><a href="#" title="Update Details"><i
                                                class="fa fa-check-square-o fa-lg"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><input type="checkbox"/></td>
                                        <td>269020501000</td>
                                        <td>Aman</td>
                                        <td>101.000KD</td>
                                        <td>1 Year</td>
                                        <td class="text-center"><img class="table-img-set" src="assets/img/HQwHI.jpg"
                                                                     style="width:50px;"/></td>
                                        <td>9810413846</td>
                                        <td>xyz@gmail.com</td>
                                        <td><a href="#" title="Update Details"><i
                                                class="fa fa-check-square-o fa-lg"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><input type="checkbox"/></td>
                                        <td>269020501000</td>
                                        <td>Aman</td>
                                        <td>101.000KD</td>
                                        <td>1 Year</td>
                                        <td class="text-center"><img class="table-img-set" src="assets/img/HQwHI.jpg"
                                                                     style="width:50px;"/></td>
                                        <td>9810413846</td>
                                        <td>xyz@gmail.com</td>
                                        <td><a href="#" title="Update Details"><i
                                                class="fa fa-check-square-o fa-lg"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><input type="checkbox"/></td>
                                        <td>269020501000</td>
                                        <td>Aman</td>
                                        <td>101.000KD</td>
                                        <td>1 Year</td>
                                        <td class="text-center"><img class="table-img-set" src="assets/img/HQwHI.jpg"
                                                                     style="width:50px;"/></td>
                                        <td>9810413846</td>
                                        <td>xyz@gmail.com</td>
                                        <td><a href="#" title="Update Details"><i
                                                class="fa fa-check-square-o fa-lg"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><input type="checkbox"/></td>
                                        <td>269020501000</td>
                                        <td>Aman</td>
                                        <td>101.000KD</td>
                                        <td>1 Year</td>
                                        <td class="text-center"><img class="table-img-set" src="assets/img/HQwHI.jpg"
                                                                     style="width:50px;"/></td>
                                        <td>9810413846</td>
                                        <td>xyz@gmail.com</td>
                                        <td><a href="#" title="Update Details"><i
                                                class="fa fa-check-square-o fa-lg"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><input type="checkbox"/></td>
                                        <td>269020501000</td>
                                        <td>Aman</td>
                                        <td>101.000KD</td>
                                        <td>1 Year</td>
                                        <td class="text-center"><img class="table-img-set" src="assets/img/HQwHI.jpg"
                                                                     style="width:50px;"/></td>
                                        <td>9810413846</td>
                                        <td>xyz@gmail.com</td>
                                        <td><a href="#" title="Update Details"><i
                                                class="fa fa-check-square-o fa-lg"></i></a></td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>


                            <div class="row basic-pagination">
                                <div class="col col-xs-4">Showing 1 to 10 of 10 entries
                                </div>
                                <div class="col col-xs-8">

                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="active page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>

                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>


                            <div class="text-center mt-2 mb-4">
                                <button class="submitbtn" type="submit"><i class="fa fa-print fa-lg"></i> MOH Insurance
                                    Form
                                </button>

                                <button class="submitbtn" type="submit"><i class="fa fa-print fa-lg"></i> MOH Insurance
                                    Card
                                </button>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>  